.Dropdown {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 2em 0.2em rgb(0, 0, 0);
  transition: 0.15s;
}

.Dropdown:hover {
  box-shadow: 0px 0px 1em 0.1em rgb(0, 0, 0);
}

.DropdownItem {
  transition: ease-in-out 0.3s;
}

.DropdownItem:hover {
  color: #1ed2dc;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.DropdownToggle i {
  transition: ease-in-out 0.3s;
}

.DropdownToggle i:hover {
  color: #1ed2dc;
}

.DropdownToggle i:focus {
  color: #1ed2dc;
}
