.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 2em 0.2em rgb(0, 0, 0);
    transition: 0.15s;
  }

  .SearchBar input:hover {
    box-shadow: 0px 0px 1em 0.1em rgb(0, 0, 0);
  }
  
  .SearchBar input:focus {
    box-shadow: 0px 0px 1em 0.1em rgb(0, 0, 0);
    border: None;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
