.NavBar {
    background-color: #efefef;
    border: 1px solid lightgray;
    padding: 10px 10px 15px 15px;
    box-shadow: 0px -35px 1.5em 2.2em rgb(0, 0, 0);
}

.NavLink {
    padding: 5px;
}

.NavBar i {
    width: 40px;
    height: 40px;
}

.Active i {
    color: #00000067;
}

.NavLink:hover {
    color: #01ced9;
}