.Post {
  background-color: #ffffff;
  border: None;
  border-radius: 20px;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: 0px 0px 2em 0.2em rgb(0, 0, 0);
  transition: 0.15s;
}

.Post:hover {
  box-shadow: 0px 0px 1em 0.1em rgb(0, 0, 0);
}

.Post img {
  border-radius: 0;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.DateTime {
  color: #8e8e8e;
}

.PostTitle {
  font-size: 1.6rem;
  text-align: left;
}

.PostContent {
  font-size: 0.8rem;
  text-align: left;
}

.PostMovie {
  text-align: center;
  padding: 30% 10% 300% 10%;
  color: #FFFFFF;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  left:0%;
  top: 0%;
  transition: ease-in-out 0.3s;
  border-radius: 18px;
  visibility: hidden;
}

.PostMovieContainer:hover > .PostMovie{
  visibility: visible;
}


.PostMovieContainer {
  width: 5%;
  height: 20%;
  position: absolute;
  float: right;
  right: 2%;
  bottom: 2%;
  border-radius: 20px;
  z-index: 1;
  border: 1px solid #1ed2dc;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  background: linear-gradient(265.27deg, #72727200 5.55%, rgb(121, 121, 121, 0.8) 50%);
}

.PostMovieContainer:hover {
  width: 33%;
  height: 27%;
}

.PostMoviePoster {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position:center;
  object-fit: cover;
  left: 0;
}