.Post {
  background-color: #ffffff;
  border: None;
  border-radius: 20px;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: 0px 0px 2em 0.2em rgb(0, 0, 0);
  transition: 0.15s;
}

.Post:hover {
  box-shadow: 0px 0px 1em 0.1em rgb(0, 0, 0);
}

.Post img {
  border-radius: 0;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.DateTime {
  color: #8e8e8e;
}

.PostTitle {
  font-size: 1.6rem;
  text-align: left;
}

.PostContent {
  font-size: 0.8rem;
  text-align: left;
}