.App {
    font-family: 'Asap Condensed', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
  }
  
  a {
    color: lightgray;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #2142b2;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
  }